<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio - Matheus Mendes</title>

    <!-- ICONE EXIBIDO NA GUIA URL -->
    <link rel="icon" href="../../assets/imagens/projetos/code.png" />

    <!-- ICON REFERENCIA - CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <!-- MODELOS DE EXEMPLO  -->
    <!-- https://remixicon.com/ -->

    <!-- LINK REFERENCIA JQUERY - CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <link rel="stylesheet" href="../../assets/css/animation.css" />
    <link rel="stylesheet" href="../../assets/css/style.css" />

    <style>
      .info h5 {
        color: var(--main-cor-primaria);
      }
    </style>
  </head>
  <body>
    <div id="ancor_inicio"></div>
    <nav>
      <a href="#" class="logo">
        <i class="ri-user-2-fill"></i>
        Matheus M.
      </a>
      <div class="links">
        <a href="../../index.html">Início</a>
      </div>
    </nav>

    <h2 class="separator" id="ancor_formacao">Certificações</h2>

    <div class="projetos">
      <div class="projetos-lista">
        <div class="item">
          <img
            src="../../assets/imagens/certificacoes/certificacao_1.PNG"
            alt="Cadastro de usuários"
          />
          <div class="info">
            <div>
              <h5>React - Alura</h5>
            </div>
          </div>
          <div class="bid" style="justify-content: center !important">
            <p>Concluído</p>
          </div>
        </div>
        <div class="item">
          <img
            src="../../assets/imagens/certificacoes/certificacao_2.PNG"
            alt="Cadastro de usuários"
          />
          <div class="info">
            <div>
              <h5>SQL - Alura</h5>
            </div>
          </div>
          <div class="bid" style="justify-content: center !important">
            <p>Concluído</p>
          </div>
        </div>
      </div>
    </div>

    <h2 class="separator" id="ancor_formacao">Certificados</h2>
    <div class="projetos">
      <div class="projetos-lista">
        <div class="item">
          <img
            src="../../assets/imagens/certificados/certificado_12.PNG"
            alt="Cadastro de usuários"
          />
          <div class="info">
            <div>
              <h5>Angular14 - Alura</h5>
            </div>
          </div>
          <div class="bid" style="justify-content: center !important">
            <p>Concluído</p>
          </div>
        </div>

        <div class="item">
          <img
            src="../../assets/imagens/certificados/certificado_14.PNG"
            alt="Cadastro de usuários"
          />
          <div class="info">
            <div>
              <h5>HTML E CSS - Alura</h5>
            </div>
          </div>
          <div class="bid" style="justify-content: center !important">
            <p>Concluído</p>
          </div>
        </div>

        <div class="item">
          <img
            src="../../assets/imagens/certificados/certificado_15.PNG"
            alt="Cadastro de usuários"
          />
          <div class="info">
            <div>
              <h5>HTML E CSS - Alura</h5>
            </div>
          </div>
          <div class="bid" style="justify-content: center !important">
            <p>Concluído</p>
          </div>
        </div>

        <div class="item">
          <img
            src="../../assets/imagens/certificados/certificado_16.PNG"
            alt="Cadastro de usuários"
          />
          <div class="info">
            <div>
              <h5>HTTP - Alura</h5>
            </div>
          </div>
          <div class="bid" style="justify-content: center !important">
            <p>Concluído</p>
          </div>
        </div>

        <div class="item">
          <img
            src="../../assets/imagens/certificados/certificado_17.PNG"
            alt="Cadastro de usuários"
          />
          <div class="info">
            <div>
              <h5>JavaScript - Alura</h5>
            </div>
          </div>
          <div class="bid" style="justify-content: center !important">
            <p>Concluído</p>
          </div>
        </div>

        <div class="item">
          <img
            src="../../assets/imagens/certificados/certificado_18.PNG"
            alt="Cadastro de usuários"
          />
          <div class="info">
            <div>
              <h5>JavaScript - Alura</h5>
            </div>
          </div>
          <div class="bid" style="justify-content: center !important">
            <p>Concluído</p>
          </div>
        </div>

        <div class="item">
          <img
            src="../../assets/imagens/certificados/certificado_19.PNG"
            alt="Cadastro de usuários"
          />
          <div class="info">
            <div>
              <h5>Laravel - Alura</h5>
            </div>
          </div>
          <div class="bid" style="justify-content: center !important">
            <p>Concluído</p>
          </div>
        </div>

        <div class="item">
          <img
            src="../../assets/imagens/certificados/certificado_20.PNG"
            alt="Cadastro de usuários"
          />
          <div class="info">
            <div>
              <h5>Node.js - Alura</h5>
            </div>
          </div>
          <div class="bid" style="justify-content: center !important">
            <p>Concluído</p>
          </div>
        </div>

        <div class="item">
          <img
            src="../../assets/imagens/certificados/certificado_21.PNG"
            alt="Cadastro de usuários"
          />
          <div class="info">
            <div>
              <h5>React - Alura</h5>
            </div>
          </div>
          <div class="bid" style="justify-content: center !important">
            <p>Concluído</p>
          </div>
        </div>

        <div class="item">
          <img
            src="../../assets/imagens/certificados/certificado_22.PNG"
            alt="Cadastro de usuários"
          />
          <div class="info">
            <div>
              <h5>React - Alura</h5>
            </div>
          </div>
          <div class="bid" style="justify-content: center !important">
            <p>Concluído</p>
          </div>
        </div>

        <div class="item">
          <img
            src="../../assets/imagens/certificados/certificado_23.PNG"
            alt="Cadastro de usuários"
          />
          <div class="info">
            <div>
              <h5>React - Alura</h5>
            </div>
          </div>
          <div class="bid" style="justify-content: center !important">
            <p>Concluído</p>
          </div>
        </div>

        <div class="item">
          <img
            src="../../assets/imagens/certificados/certificado_24.PNG"
            alt="Cadastro de usuários"
          />
          <div class="info">
            <div>
              <h5>SQL - Alura</h5>
            </div>
          </div>
          <div class="bid" style="justify-content: center !important">
            <p>Concluído</p>
          </div>
        </div>

        <div class="item">
          <img
            src="../../assets/imagens/certificados/certificado_25.PNG"
            alt="Cadastro de usuários"
          />
          <div class="info">
            <div>
              <h5>SQL - Alura</h5>
            </div>
          </div>
          <div class="bid" style="justify-content: center !important">
            <p>Concluído</p>
          </div>
        </div>

        <div class="item">
          <img
            src="../../assets/imagens/certificados/certificado_26.PNG"
            alt="Cadastro de usuários"
          />
          <div class="info">
            <div>
              <h5>SQL - Alura</h5>
            </div>
          </div>
          <div class="bid" style="justify-content: center !important">
            <p>Concluído</p>
          </div>
        </div>

        <div class="item">
          <img
            src="../../assets/imagens/certificados/certificado_27.PNG"
            alt="Cadastro de usuários"
          />
          <div class="info">
            <div>
              <h5>SQL - Alura</h5>
            </div>
          </div>
          <div class="bid" style="justify-content: center !important">
            <p>Concluído</p>
          </div>
        </div>

        <div class="item">
          <img
            src="../../assets/imagens/certificados/certificado_6.PNG"
            alt="Cadastro de usuários"
          />
          <div class="info">
            <div>
              <h5>Fundamentos de Lógica de Programação - Fund. Bradesco</h5>
            </div>
          </div>
          <div class="bid" style="justify-content: center !important">
            <p>Concluído</p>
          </div>
        </div>

        <div class="item">
          <img
            src="../../assets/imagens/certificados/certificado_10.PNG"
            alt="Cadastro de usuários"
          />
          <div class="info">
            <div>
              <h5>Fund. de T.I Hardware e Software - Fund. Bradesco</h5>
            </div>
          </div>
          <div class="bid" style="justify-content: center !important">
            <p>Concluído</p>
          </div>
        </div>

        <div class="item">
          <img
            src="../../assets/imagens/certificados/certificado_9.PNG"
            alt="Cadastro de usuários"
          />
          <div class="info">
            <div>
              <h5>HTML Básico - Fund. Bradesco</h5>
            </div>
          </div>
          <div class="bid" style="justify-content: center !important">
            <p>Concluído</p>
          </div>
        </div>

        <div class="item">
          <img
            src="../../assets/imagens/certificados/certificado_7.PNG"
            alt="Cadastro de usuários"
          />
          <div class="info">
            <div>
              <h5>JavaScript - Impacta</h5>
            </div>
          </div>
          <div class="bid" style="justify-content: center !important">
            <p>Concluído</p>
          </div>
        </div>

        <div class="item">
          <img
            src="../../assets/imagens/certificados/certificado_11.PNG"
            alt="Cadastro de usuários"
          />
          <div class="info">
            <div>
              <h5>CSS3 - Impacta</h5>
            </div>
          </div>
          <div class="bid" style="justify-content: center !important">
            <p>Concluído</p>
          </div>
        </div>

        <div class="item">
          <img
            src="../../assets/imagens/certificados/certificado_13.PNG"
            alt="Cadastro de usuários"
          />
          <div class="info">
            <div>
              <h5>SQL Server - React</h5>
            </div>
          </div>
          <div class="bid" style="justify-content: center !important">
            <p>Concluído</p>
          </div>
        </div>

        <div class="item">
          <img
            src="../../assets/imagens/certificados/certificado_8.PNG"
            alt="Cadastro de usuários"
          />
          <div class="info">
            <div>
              <h5>Introdução ao Git e GitHub - DIO</h5>
            </div>
          </div>
          <div class="bid" style="justify-content: center !important">
            <p>Concluído</p>
          </div>
        </div>

        <div class="item">
          <img
            src="../../assets/imagens/certificados/certificado_4.PNG"
            alt="Cadastro de usuários"
          />
          <div class="info">
            <div>
              <h5>Primeiros Passos com .NET - DIO</h5>
            </div>
          </div>
          <div class="bid" style="justify-content: center !important">
            <p>Concluído</p>
          </div>
        </div>
        <div class="item">
          <img
            src="../../assets/imagens/certificados/certificado_5.PNG"
            alt="Cadastro de usuários"
          />
          <div class="info">
            <div>
              <h5>Orientação a Objetos em .NET - DIO</h5>
            </div>
          </div>
          <div class="bid" style="justify-content: center !important">
            <p>Concluído</p>
          </div>
        </div>

        <div class="item">
          <img
            src="../../assets/imagens/certificados/certificado_1.PNG"
            alt="Cadastro de usuários"
          />
          <div class="info">
            <div>
              <h5>Responsive Web Design - FreeCodeCamp</h5>
            </div>
          </div>
          <div class="bid" style="justify-content: center !important">
            <p>Concluído</p>
          </div>
        </div>

        <div class="item">
          <img
            src="../../assets/imagens/certificados/certificado_2.PNG"
            alt="Cadastro de usuários"
          />
          <div class="info">
            <div>
              <h5>Get Connected - Cisco</h5>
            </div>
          </div>
          <div class="bid" style="justify-content: center !important">
            <p>Concluído</p>
          </div>
        </div>
        <div class="item">
          <img
            src="../../assets/imagens/certificados/certificado_3.PNG"
            alt="Cadastro de usuários"
          />
          <div class="info">
            <div>
              <h5>MOOC English Online I - CPS</h5>
            </div>
          </div>
          <div class="bid" style="justify-content: center !important">
            <p>Concluído</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
